// VARS

// cool
$aqua:    #7fdbff
$blue:    #4d91d6
$navy:    #001f3f
$teal:    #39cccc
$green:   #2ecc40
$olive:   #3d9970
$lime:    #01ff70
$yella:   #F1CA50

// Warm
$yellow:  #ffdc00
$orange:  #f8a91e
$red:     #ff2500
$fuchsia: #f012be
$purple:  #b10dc9
$maroon:  #85144b
$citrus:  #f05555

// Grey Scale
$white:  #fff
$snow:   #f7f7f7
$silver: #ddd
$grey:   #aaa
$dark:   #1c1c1c
$black:  #111

// MEDIA QUERIES
$bp-small: 24em
$bp-med: 32em
$bp-large: 50em
$bp-large-2: 72em
$bp-xl: 85em
$bp-2xl: 118em

// GLOBAL MARGINS
@mixin mb-home
  margin-bottom: 1em
  @media (min-width: $bp-med)
    margin-bottom: 1.8em
  @media (min-width: $bp-large)
    margin-bottom: 1.6em
  @media (min-width: $bp-xl)
    margin-bottom: 2.2em
  // @media (min-width: $bp-2xl)
    margin-bottom: 2.2em

@mixin mr-home
  margin-right: 1em
  @media (min-width: $bp-med)
    margin-right: 1.8em
  @media (min-width: $bp-large)
    margin-right: 1.6em
  @media (min-width: $bp-xl)
    margin-right: 4em
  // @media (min-width: $bp-2xl)
    margin-right: 2.2em
