// VARS

// cool
$aqua:    #7fdbff
$blue:    #4d91d6
$navy:    #001f3f
$teal:    #39cccc
$green:   #2ecc40
$olive:   #3d9970
$lime:    #01ff70
$yella:   #F1CA50

// Warm
$yellow:  #ffdc00
$orange:  #f8a91e
$red:     #ff2500
$fuchsia: #f012be
$purple:  #b10dc9
$maroon:  #85144b
$citrus:  #f05555

// Grey Scale
$white:  #fff
$snow:   #f7f7f7
$silver: #ddd
$grey:   #aaa
$dark:   #1c1c1c
$black:  #111

// MEDIA QUERIES
$bp-small: 24em
$bp-med: 35em
$bp-large: 62em
$bp-large-1: 75em
$bp-large-2: 90em
$bp-xl: 100em
$bp-2xl: 118em

// HOME-WRAP AND NAV-COLS WIDTH
$home-wrap-max-width: 600px

@mixin home-wrap-nav-width
  min-width: $home-wrap-max-width
  width: 49.22644163150492vw
  max-width: 700px

// GLOBAL MARGINS
@mixin margin-bottom-home
  margin-bottom: 5vw
  @media(min-width: $bp-large)
    margin-bottom: 2.75vw

@mixin margin-right-home
  margin-right: 2.75vw
