.blogcard
						img(src="/assets/imgs/may04_400.png")
						p
							h3 Tag Der Arbeit
							p2 01.05.2016 Berlin
						p Taking in Berlin on my first May 1st. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.
						p
							a(href="", class="tag") Liminal Space
							a(href="", class="tag") Photography
							a(href="", class="tag") Dissertation