.columns
	.col1
		.content(id="sticky1")

			| {%include module-c1-prof.html%}

	.col2
		.content(id="sticky2")

			| {%include module-c2-pers.html%}

	.col3
		.content(id="sticky3")

			| {%include module-c3-blog.html%}
