.columns
	.container
		.col1
			.container-scroll
				.content

					// COLUMN 1
					//- .col-header
						Professional

					| {%include module-c1-prof.html%}

		.col1
			.container-scroll
				.content

					// COLUMN 2
					//- h3 Personal

					| {%include module-c2-pers.html%}

		.col1
			.container-scroll
				.content

					// COLUMN 3
					//- h3 Blog

					| {%include module-c3-blog.html%}
