section
	.container
		.col1
			.content

				// COLUMN 1
				h2 About Me

				| {%include modules-aboutme.html%}

		.col1
			.content

				// COLUMN 2
				h2 Projects

				| {%include modules-pcard.html%}

				.column-end
				p ...that's all for now

		.col1
			.content

				// COLUMN 3
				h2 In the Field

				| {%include modules-bcard.html%}
