.columns
	.container
		.col1
			.content

				// COLUMN 1
				h2 About Me

				| {%include module-aboutme.html%}

		.col1
			.content

				// COLUMN 2
				h2 Projects

				| {%include module-pcard.html%}

				.column-end
				p more projects coming soon!

		.col1
			.content

				// COLUMN 3
				h2 In the Field

				| {%include module-bcard.html%}

				a(href="/in-the-field")
					.textlink See all blog entries
