.columns
	.container
		.col1
			.container-scroll
				.content

					// COLUMN 1
					//- h2 About Me

					| {%include module-aboutme.html%}

		.col1
			.container-scroll
				.content

					// COLUMN 2

					| {%include module-pcard.html%}

		.col1
			.container-scroll
				.content

					// COLUMN 3

					| {%include module-bcard.html%}

					a(href="/fieldwork")
						.textlink See all blog entries
