.columns
	.container
		.col1
			.content(id="sticky1")

				// COLUMN 1
				.col-header
					h2 Professional

				| {%include module-c1-prof.html%}

		.col2
			.content(id="sticky2")

				// COLUMN 2
				.col-header
					h2 Personal

				| {%include module-c2-pers.html%}

		.col3
			.content(id="sticky3")

				// COLUMN 3
				.col-header
					h2 Posts

				| {%include module-c3-blog.html%}
