.header
	.nav-toggle
		img(src="assets/imgs/icons/ic_menu_black_36px.svg")
	span
		//- h1 Elliott
		//- h4
			| is...
			br
			| an urbanist
			br
			| a designer
			br
			| an illustrator
			br
			| a maker
		h1 Elliott is a freelance architectural designer, illustrator and maker
	a(href="").avatar
		img(src="/assets/imgs/icons/avatar.png")
