.header-container
	.header
		span
			h1
				a(href="/").link Elliott Andrew
			//- .p-mono Urbanist + Sustainist + Designer
		ul
			a(href="/").textlink-dark home
			a(href="/info").textlink-dark info
			a(href="/fieldwork").textlink-dark blog
			a(href="/photography").textlink-dark pics
	.hr
