.header
	span
		h1
			a(href="/index.html").link {{page.headline}}
		.p1 {{page.tagline}}
	ul
		a(href="/").textlink-dark home
		a(href="/info").textlink-dark info
		a(href="/in-the-field").textlink-dark blog
		a(href="/photography").textlink-dark pics
hr
