.blog
  .container-vw

      .bpage-header
        | {% include module-header-home.html %}

      .bpage-content
        a(href="/assets/imgs/blog/{{page.banner}}")
          img(src="/assets/imgs/blog/{{page.banner}}", class=".pic")

        .bpage-text
          p.center {{page.location}} | {{page.date | date: '%B %d %Y'}}
          p {{ content | remove_first: '&lt;!--more--&gt;' | remove: '<p>' | remove: '</p>' }}

      .bpage-nav
        | {% include module-nav-blog.html %}
