.info
  .container-vw

      .bpage-header
        | {% include header.html %}

      .content
        //- a(href="/assets/files/Elliott-Andrew-CV-2016.pdf")
          img(src="/assets/files/cv2016.png")

        iframe(src="https://drive.google.com/file/d/0B4XSpe-Q0vvJQTZ6YTJZZVhxLWc/preview" frameborder="0")
        //- iframe(src="//e.issuu.com/embed.html#2533998/37908458" frameborder="0" allowfullscreen)
