.info
	.container
		.content
			| {% for post in site.posts %}

			a(href="{{post.url}}")
				.card-pers
					img(src="/assets/imgs/thumbs/{{post.thumbnail}}", class=".pic")
					.card-pers-overlay
						
						// lettering.js applies span to each child 
						.title-wrap
							| {{post.title}}

			| {% endfor %}
