.blog
	.container2

			.bpage-header
				| {% include header.html %}

			.content
				//- img(src="/assets/imgs/{{page.banner}}", class=".pic")
				| {{content}}

				//- a(href="/in-the-field")
					.textlink See more blog entries
