.layout-fieldwork
	.container
		.col1
			.content

				| {% for post in site.posts %}
				| {% if post.categories contains 'blog' %}

				.fcard

					// BANNER
					a(href="{{post.url}}")
						.fcard-image(style="background-image: url(/assets/imgs/blog/{{post.banner}})")

					.fcard-blurb
						span
							a(href="{{post.url}}")
								h2 {{post.headline}}
							h4 {{post.date | date: "%b %d %Y"}} - {{post.location}}

						p {{post.excerpt | remove_first: '&lt;!--more--&gt;' }}

						a(href="{{post.url}}").textlink Read the full post here

				hr

				| {% endif %}
				| {% endfor %}
