.projects
	.container-vw

			.bpage-header
				| {% include module-header-page.html %}
				| {% include module-side-tabs.html %}

			.content
				| {{content}}

			| {% include module-nav-blog.html %}
