.photography
  .container2

      .bpage-header
        | {% include header.html %}

      .content

        a(href="")
          img(src="")

//- .photography
//-   .container
//-     .col1
//-       .content
//-
//-         //- img(src="/assets/imgs/banner01.jpg").large
//-         //- img(src="/assets/imgs/tfe03_400.jpg").small-left
//-         //- img(src="/assets/imgs/may04_400.png").small
//-         //- img(src="/assets/imgs/TFl01.png").large
//-         //- img(src="/assets/imgs/Gor01_400.png").small-left
//-         //- img(src="/assets/imgs/TFe-skate01-400.png").small
//-
//-         a(href="")
//-           img(src="")
