.projects
  .container2

      .bpage-header
        | {% include header.html %}

      .content
        //- img(src="/assets/imgs/{{page.banner}}", class=".pic")
        | {{content}}

      | {% include module-nav-blog.html %}
