.blog
  .container2

      .bpage-header
        | {% include header.html %}

      .content
        a(href="/assets/imgs/blog/{{page.banner}}")
          img(src="/assets/imgs/blog/{{page.banner}}", class=".pic")
        span
          h4 {{page.location}}
          p {{page.date | date: "%b %m %Y"}}
        | {{ content | remove_first: '&lt;!--more--&gt;' }}

        | {% include module-nav-blog.html %}
      
