| {% for post in site.posts %}
a(href="{{post.url}}")
	.bcard

		span
			img(src="/assets/imgs/thumbs/{{post.thumbnail}}", class=".pic")
			h3 {{post.title}}
			.p2 {{post.date | date: "%b %d %Y"}} - {{post.location}}
			.excerpt
				p {{post.excerpt | remove: '<p>' | remove: '</p>'}}

| {% endfor %}

//deprecated
		a(href="post.url").textlink ...more!
	ul
	a(href="", class="tag") Liminal Space
	a(href="", class="tag") Photography
	a(href="", class="tag") Dissertation
