a(href="/projects/freespace-workshop")
  .card-pers-y3p2
    .card-pers-title
      span
        .t1 Freespace Workshop
        .t2 -
        .t2 Leeds

a(href="/projects/frame-works")
  .card-pers-y3p1
    .card-pers-title
      span
        .t1 Frame Works Gallery
        .t2 -
        .t2 Scarborough

a(href="/projects/reuse-mechanisms")
  .card-pers-y3diss
    .card-pers-title
      span
        .t1 Re-use Mechanisms
        .t2 -
        .t2 Berlin
