.bcard

	| {% for post in site.posts %}
	img(src="assets/imgs/thumbs/{{post.thumbnail}}", class=".pic")
	span
		h3 {{post.title}}
		p2 {{post.date | date: "%d.%m.%Y"}} {{post.location}}
	p {{post.excerpt}}
		a(href="", class="tag") Liminal Space
		a(href="", class="tag") Photography
		a(href="", class="tag") Dissertation
	| {% endfor %}



	| {% for post in site.posts %}
	a(href="{{post.url}}") {{post.title}}
	| {% endfor %}
