.menu-touch
  .close-touch
  .menu-touch-content
    a(href="/")
      h2 Home
    a(href="/blog")
      h2 Blog
    a(href="/info")
      h2 Contact
    .hr
    a(href="/Visualization")
      h3 Visualization
    a(href="/Architecture")
      h3 Architecture
    a(href="/Furniture")
      h3 Furniture
