.nav-blog
  | {% if page.previous.url %}
  a(href="{{page.previous.url}}").prev
    .textlink &laquo; {{page.previous.headline}}
  | {% endif %}

  a(href="/fieldwork").textlink.allblog all blog posts

  |{% if page.next.url %}
  a(href="{{page.next.url}}").next
    .textlink {{page.next.headline}} &raquo;
    | {% endif %}

.nav-blog-640
  | {% if page.previous.url %}
  a(href="{{page.previous.url}}").prev
    .textlink &laquo; previous
  | {% endif %}

  a(href="/fieldwork").textlink.allblog all

  |{% if page.next.url %}
  a(href="{{page.next.url}}").next
    .textlink next &raquo;
    | {% endif %}
