.aboutme

  p I am a Part 1 graduate of Architecture hailing from Sheffield, the Steel City in England. I recently moved to Berlin to complete some research for my thesis project on the city, and I liked it so much that I decided to stay... now I just need to learn the language.
  p When it comes to the built environment, I am driven by design that is aware of its context in place but also in society, design as a tool of civic creation, engagement and participation. My recent research in Berlin and Northern England, has led me down a path of grass-roots projects that seek to progressively re-use existing spaces for communal gain. This is the kind of architecture that excites me and as I familiarize myself with Berlin, I hope to get more involved with some of these projects.
  p This website is still under construction but please take a look around and get in touch if anything interests you, or of course if you are involved in any projects that you think might interest me!
  h4 Contact
  p
    | email: info@eandrew.xyz
    br
    br
    | phone: +49 176 77966 871

  .media-links
    a(href="http://dribbble.com/elliottandrew", class="icon", title="dribbble")
      object(data="/assets/icons/dribbble.svg")
    a(href="http://twitter.com/elliottcandrew", class="icon", title="twitter")
      object(data="/assets/icons/twitter.svg")
    a(href="http://de.linkedin.com/in/elliottcandrew", class="icon", title="linkedin")
      object(data="/assets/icons/linkedin.svg")
    a(href="http://elliottandrew.tumblr.com/", class="icon", title="tumblr")
      object(data="/assets/icons/tumblr.svg")

  img(src="/assets/imgs/personal01.png")
