.header-wrap
	.header-page
		.nav-toggle
			img(src="/assets/imgs/icons/ic_menu_black_36px.svg")
			
		span
			h1 {{ page.title }}
			h3 {{ page.tagline }}
			
		.nav-back-button
			a(href="/")
				img(src="/assets/imgs/icons/ic_arrow_back_black_24px.svg")
				h2 Home
				.line-thru
	
		a(href="/").avatar
