.menu-touch
  .close-touch
  .menu-touch-content
    a(href="/")
      h1 Home
    //- a(href="/personal")#touch-prof
      h1 Professional Work
    //- a(href="/professional")#touch-pers
      h1 Personal Projects
    a(href="/blog")
      h1 Blog
    a(href="/info")
      h1 Contact
