| {% for post in site.posts %}
| {% if post.categories contains 'blog' %}

a(href="{{post.url}}")
	.card-blog

		img(src="/assets/imgs/thumbs/{{post.thumbnail}}", class=".pic")
		.card-blog-overlay
			.card-blog-title
				h2
					strong {{post.headline}}
				.p2 {{post.tagline}}

| {% endif %}
| {% endfor %}
//- 
//- a(href="/fieldwork")
//- 	.textlink See all blog entries
