.header-page
	.touch-toggle
		img(src="/assets/imgs/icons/ic_menu_black_36px.svg")
		
	//- span
		h1 {{ page.headline }}
		h3 {{ page.tagline }}
		
	.header-nav
		h1
			
	//- .nav-back-button
		a(href="/")
			img(src="/assets/imgs/icons/ic_arrow_back_black_36px.svg")

	a(href="/").avatar
