.header-home
	.touch-toggle
		img(src="assets/imgs/icons/ic_menu_black_36px.svg")
		
	a(href="/").avatar
	
	.header-title
		a(href="/")
			h2
		| {% if page.homepage %}
		.line-graphic
		ul.header-nav
			li
				a(href="/visualization")
					h3 Visualization
					.dot
			li
				a(href="/architecture")
					h3 Architecture
					.dot
			li
				a(href="/furniture")
					h3 Furniture
					.dot
		| {% endif %}
