.header-home
	.touch-toggle
		img(src="/assets/imgs/icons/ic_menu_black_36px.svg")
	
	a(href="/", id="{% unless page.id == 'home' %}non-home{% endunless %}").avatar <!-- adds id on non homepages -->
	
	.header-title(id="{% unless page.id == 'home' %}non-home{% endunless %}")
		a(href="/")
			h2 <!-- css applies content here -->
		| {% if page.id contains 'home' or page.id contains 'blog' %} <!-- only build nav if on homepage or blog -->
		.line-graphic
		ul.header-nav
			li
				a(href="/visualization")
					h3 Visualization
					.dot
			li
				a(href="/architecture")
					h3 Architecture
					.dot
			li
				a(href="/furniture")
					h3 Furniture
					.dot
		| {% endif %}
