.header-wrap
	.header-home
		.touch-toggle
			img(src="assets/imgs/icons/ic_menu_black_36px.svg")
		.title-home
			h1 Elliott is a freelance architectural designer, illustrator and maker
			//- h4 Elliott is a freelance architectural designer, illustrator and maker
			
		.header-nav
			h1 Elliott Andrew
			.line-graphic
			ul
				li Visualization
				li Architecture
				li Furniture
		
		a(href="/").avatar
