a(href="/projects/freespace-workshop")
  .card-pers-y3p2
    .card-pers-title
      span
        .t1 Free
        .t1 Space
        .t1 Workshop

a(href="/projects/frame-works")
  .card-pers-y3p1
    .card-pers-title
      span
        .t1 Frame
        .t1 Works
        .t1 Gallery

a(href="/projects/reuse-mechanisms")
  .card-pers-y3diss
    .card-pers-title
      span
        .t1 Re-use
        .t1 Mechanisms
