| {% for post in site.posts %}
| {% if post.categories contains 'professional' %}

a(href="{{post.url}}")
	.card-prof
		img(src="/assets/imgs/thumbs/{{post.thumbnail}}", class=".pic")
		.card-home-overlay
			
			// lettering.js applies span to each child
			.title-wrap
				| {{post.title}}

| {% endif %}
| {% endfor %}
//- 
//- p &#9400; Elliott Andrew - all rights reserved
