| {% for post in site.posts %}
| {% if post.categories contains 'blog' %}
| {% if post.categories contains 'image' %}

a(href="{{post.url}}")
	.card-blog
		.pic-full(style={'background-image': 'url(/assets/imgs/thumbs/{{post.thumbnail}})'})

| {% else %}

a(href="{{post.url}}")
	.card-blog(id="border")

		.pic(style={'background-image': 'url(/assets/imgs/thumbs/{{post.thumbnail}})'})
			.cross
		.card-blog-overlay
			.card-blog-title
				span
					h2 {{post.headline}}
					p {{post.tagline}}
				.p-mono {% assign d = post.date | date: "%-d" %}{% case d %}{% when "1" or "21" or "31" %}{{ d }}st{% when "2" or "22" %}{{ d }}nd{% when "3" or "23" %}{{ d }}rd{% else %}{{ d }}th{% endcase %}{{post.date | date: ' %b %Y'}}
					
| {% endif %}
| {% endif %}
| {% endfor %}

//- | {% for image in site.static_files %}
//- |	{% if image.path contains 'assets/imgs/thumbs' %}
//- 
//- a(href="{{site.baseurl}}{{image.path}}")
//- 	.card-blog
//- 		.pic-full(style={'background-image': 'url({{site.baseurl}}{{image.path}})'})
//- 
//- |{% endif %}
//- |{% endfor %}

//- .card-blog
//- 	.pic-full(style={'background-image': 'url(http://eandrew.xyz/assets/imgs/thumbs/tempelhof-easy.jpg)'})
//- 
//- a(href="/fieldwork")
//- 	.textlink See all blog entries
