.header-home
	.touch-toggle
		img(src="assets/imgs/icons/ic_menu_black_36px.svg")
		
	a(href="/").avatar
	
	.header-nav
		a(href="/")
			h2
		| {% if page.homepage %}
		.line-graphic
		ul
			li
				h3 Visualization
			li
				h3 Architecture
			li
				h3 Furniture
		| {% endif %}
