.tab-wrap
  .tab-left
    h2 contact
  .tab-right
    h2 blog

.menu1
  .close-1
  .menu1-content
    h2 Contact
    br
    p
      | If you are interested in a commission, would like to inquire about a project or just want to chat, get in touch
      br
      ul
        li
          p
            a(href="http://instagram.com/ellidot/", target="_blank" ) > instagram: ellidot
        li
          p
            a(href="http://twitter.com/elliottcandrew", target="_blank" ) > twitter: elliottcandrew
        li
          p
            a(href="mailto:info@eandrew.xyz") > email: info@eandrew.xyz
      br
      p
        a(href="/info") > more information

.menu2
  .close-2
  .menu2-content
    h2 Blog
    br
    //- h4 A collection of thoughts, excerpts and articles
    p
      ul
        | {% for post in site.posts %}
        | {% if post.categories contains 'blog' %}
        
        li
          p
            a(href="{{post.url}}")
                | > {{post.tagline}}
                br
                | {% assign d = post.date | date: "%-d" %}{% case d %}{% when "1" or "21" or "31" %}{{ d }}st{% when "2" or "22" %}{{ d }}nd{% when "3" or "23" %}{{ d }}rd{% else %}{{ d }}th{% endcase %}{{post.date | date: ' %b %Y'}}

        | {% endif %}
        | {% endfor %}
      br
      p
        a(href="/blog")
          | > see all posts
