| {% for post in site.posts %}
| {% if post.categories contains 'blog' %}

a(href="{{post.url}}")
	.card-blog

		.pic(style={'background-image': 'url(/assets/imgs/thumbs/{{post.thumbnail}})'})
		.card-blog-overlay
			.card-blog-title
				span
					h2
						strong {{post.headline}}
					.p2 {{post.tagline}}
				span
					.p1 {{post.location}}
					.p1 {{post.date | date: '%m.%d.%Y'}}

| {% endif %}
| {% endfor %}

.card-blog
	.pic-full(style={'background-image': 'url(http://eandrew.xyz/assets/imgs/thumbs/tempelhof-easy.jpg)'})
//- 
//- a(href="/fieldwork")
//- 	.textlink See all blog entries
