.about
  h2 Elliott is a freelance architectural designer, illustrator and maker. Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows.
    
  .about-container
    .about-section
      h6 contact
      ul
        li
          a(href="http://instagram.com/ellidot/", target="_blank" ) instagram: ellidot
          .dot
        li
          a(href="http://twitter.com/elliottcandrew", target="_blank" ) twitter: elliottcandrew
          .dot
        li
          a(href="mailto:info@eandrew.xyz") email: info@eandrew.xyz
          .dot
    
    .about-section
      h6 clients
      p Urban Drift
        br
        | Chop Shop CNC, Berlin
        br
        | Atelier Fanelsa
        br
        | Place/Making
    
    .about-section
      h6 expertise
      p Sketchup 3D
        br
        | 3D Studio Max + V-Ray
        br
        | ArchiCAD
        br
        | AutoCAD
        br
        br
        | Photoshop
        br
        | Illustrator
        br
        | InDesign
        br
        br
        | Web Design
    
    .about-section
      h6 links
      ul
        li
          a(href="https://issuu.com/deadmongoose/docs/elliott_andrew_cv") Elliott Andrew CV 2018
          .dot
        li
          a(href="https://issuu.com/deadmongoose/docs/elliott_andrew_arch_portfolio_2017") Architecture Portfolio 2018
          .dot
