.header-wrap
	.header
		.nav-toggle
			img(src="assets/imgs/icons/ic_menu_black_36px.svg")
		span
			h1 Elliott is a freelance architectural designer, illustrator and maker
			h4 Elliott is a freelance architectural designer, illustrator and maker
			
		.nav-wrap
			.nav-inner
				.tab-1
					h2 Professional Work
				.tab-2
					h2 Personal Projects
		
		a(href="").avatar
			img(src="/assets/imgs/icons/avatar.png")
