.home-grid

	| {% for post in site.posts %}
	| {% if post.tags contains 'furn' %}

	a(href="{{post.url}}").card-home
		img(src="/assets/imgs/thumbs/{{post.thumbnail}}")
		.hanger
			h6 {{post.hanger}}
		.card-home-overlay
			
			// lettering.js applies span to each child
			.title-wrap
				| {{post.title}}

	| {% endif %}
	| {% endfor %}
