.columns

	| {% for post in site.posts %}
	| {% if post.categories contains 'blog' %}

	| {% else %}

	a(href="{{post.url}}").card-home
		img(src="/assets/imgs/thumbs/{{post.thumbnail}}")
		.hanging-tag {{post.tag}}
		.card-home-overlay
			
			// lettering.js applies span to each child
			.title-wrap
				| {{post.title}}

	| {% endif %}
	| {% endfor %}
