.footer
  ul
    li
      a(href="mailto:info@eandrew.xyz") email
    li
      a(href="http://instagram.com/ellidot/") instagram
    li
      a(href="https://www.linkedin.com/in/elliott-andrew/") linkedin
    li
      a(href="/legal-stuff") legal stuff © 2018
  h6 Site designed by Elliott Andrew
