a(href="/projects/freespace-workshop.html")
  .pcard-y3p2
    .pcard-title
      span
        .t1 Freespace Workshop
        .t2 -
        .t2 Leeds

a(href="/projects/peer-gallery.html")
  .pcard-y3p1
    .pcard-title
      span
        .t1 The Peer Gallery
        .t2 -
        .t2 Scarborough

a(href="/projects/reuse-mechanisms.html")
  .pcard-y3diss
    .pcard-title
      span
        .t1 Re-use Mechanisms
        .t2 -
        .t2 Berlin
