.menu-touch
  .close-touch
  ul.touch-content
    li
      a(href="/")
        h3 Home
    li
      a(href="/blog")
        h3 Blog
    li
      a(href="/info")
        h3 Contact
    li
    li
      a(href="/visualization")#tags
        h3 Visualization
    li
      a(href="/architecture")#tags
        h3 Architecture
    li
      a(href="/furniture")#tags
        h3 Furniture
