//- srcset include for responsive images
//- attributes assigned in post front matter
img(
  src="{{site.post_url}}/{{image.src}}",
  srcset="{% for width in site.post-srcset %}{{ site.post_url }}/{{ width }}/{{ image.src }} {{ width }}w{% if forloop.last == false %}, {% endif %}{% endfor %}",
  alt="{{ image.alt }}")
