---
layout: default
title: Elliott Andrew
headline: Elliott Andrew
tagline: Urbanist + Sustainist + Designer
id: home
---

<div class="home-wrap">

	{% include module-header.html %}
	{% include module-side-tabs.html %}
	{% include module-menu-touch.html %}

	<!-- {% include module-home-grid.html %} -->

	<div class="home-grid">

		{% for post in site.posts %}
		{% unless post.categories contains 'blog' %}

		{% include module-card-home.html %}

		{% endunless %}
		{% endfor %}

	</div>

</div>

<script src="/assets/js/scripts.min.js"></script>
