.aboutme

  p:first-of-type
    margin-top: 0

  img
    max-width: 100%

// CONTACT ICONS
.media-links
	display: flex
	width: 50%
	margin-top: 16px
	margin-bottom: 16px

	a:hover
		//@include transition(.2s $ease-out-expo)
		opacity: .75
	//@include transition(.4s $ease-out-expo)

	.icon
		display: inline-block
		position: relative
		width: 12%
		height: auto
		margin-right: 16px
		opacity: .95

		&:after
			position: absolute
			top: 0
			right: 0
			bottom: 0
			left: 0
			content: ''

		object
			width: 100%
