.bcard
	display: block
	position: relative
	//background: darken($silver, .5%)
	margin-bottom: 46px

	img
		max-width: 100%

	p2
		align-self: flex-end

	h4
		margin-right: 12px

	ul
		padding-left: 0

	a
		display: block
		position: relative
