.bcard
	display: block
	position: relative
	//background: darken($snow, 2.5%)
	padding-bottom: 2px
	margin-bottom: 16px

	&:hover
		background: darken($snow, 4%)

		*
			color: $dark

		span
			background: $yellow

	img
		max-width: 100%

	h3
		margin-top: 6px

	.textlink
		font-style: italic

	ul
		padding-left: 0
