.bcard
	display: block
	position: relative
	padding-bottom: 2px
	margin-bottom: 16px
	transition: all 250ms ease-in-out

	&:hover
		background: darken($snow, 4%)
		transition: all 1ms

		h3
			background: $yellow

	img
		max-width: 100%

	.clear
		max-width: 400px
		clear: both

	//span
		*
			margin-left: 8px
			margin-right: 8px

	h3
		margin-top: 6px
		display: inline


	.p2
		margin-top: -2px
