.bottom-nav
  $card-width: 16vw
  $bg-col: #fa9b96
  $card-col: $dark

  background: $bg-col
  padding-top: 6em
  padding-bottom: 6em

  span
    text-align: center

  .bottom-nav-content
    @include base-width
    max-width: 800px
    display: flex
    flex-direction: row
    justify-content: space-between
    @media(min-width: $bp-large)
      max-width: 1200px

  .card-bottom-nav
    width: calc(#{$card-width} - 4px)
    border: solid 2px $card-col
    &:hover
      .card-home-overlay
        opacity: 1
        transition: 0ms

  .card-home-overlay
    width: $card-width
    position: absolute
    background: $bg-col
    transform: translate(-2px, -2px)
    opacity: 0

  .card-bottom-nav, .card-home-overlay
    transition: 250ms ease-in-out
    &:after
      display: block
      content: ""
      padding-bottom: 100%

  .title-wrap
    position: absolute
    transform: translateX(1.5vw) translateY(1vw)
    height: calc(#{$card-width} - 2vw)
    width: calc(#{$card-width} - 3vw)
    font-size: calc(1.942em / 3)
    flex: 1
    display: flex
    flex-direction: column
    justify-content: space-between

  [class*="word"]:nth-child(odd)
    color: $card-col
    text-align: left

  [class*="word"]:nth-child(even)
    color: $card-col
    text-align: right
