.bottom-nav

  $card-width: 16vw

  // position: absolute
  // margin: 0 auto

  span
    text-align: center

  .bottom-nav-content
    @include base-width
    max-width: 800px
    margin-top: 4em
    margin-bottom: 6em
    display: flex
    flex-direction: row
    justify-content: space-between
    @media(min-width: $bp-large)
      max-width: 1200px

  .card-bottom-nav
    width: $card-width
    // filter: grayscale(100%)
    transition: 250ms ease-in-out

    &:hover
      .card-home-overlay
        opacity: 1
        transition: 0ms
        background: $base-background-color
        border: solid 2px $card-border-color

  .card-bottom-nav:after
    display: block
    content: ""
    padding-bottom: 100%

  .card-home-overlay
    width: calc(#{$card-width} - 4px)
    position: absolute
    border: solid 2px rgba(0,0,0,0)
    opacity: 0
    transition: 250ms ease-in-out

  .card-home-overlay:after
    display: block
    content: ""
    padding-bottom: 100%

  .title-wrap
    position: absolute
    transform: translateX(1.5vw) translateY(1vw)
    height: calc(#{$card-width} - 2vw)
    width: calc(#{$card-width} - 3vw)
    font-size: calc(1.942em / 3)
    flex: 1
    display: flex
    flex-direction: column
    justify-content: space-between

  [class*="word"]:nth-child(odd)
    text-align: left

  [class*="word"]:nth-child(even)
    text-align: right
