.card-pers
	position: relative
	margin-bottom: 32px

	// &::before
		content: ""
		display: block
		padding-top: 125%

	&:hover .card-pers-overlay
		opacity: 1
		transition: 0ms

	img
		width: 100%
		height: auto
		display: block

	.card-pers-overlay
		display: flex
		position: absolute

		top: 0
		right: 0
		bottom: 0
		left: 0

		margin: 16px 28px

		opacity: 0

		transition: 250ms ease-in-out

	.title-wrap
		flex: 1
		display: flex
		flex-direction: column
		justify-content: space-between
		color: $red

	[class*="word"]:nth-child(even)
		text-align: right
