.card-blog
	display: block
	position: relative
	margin-bottom: 32px
	transition: all 250ms ease-in-out

	&:hover
		transition: all 1ms

		// img
			filter: none

		h4
			background: $yellow

	img
		max-width: 100%
		opacity: .9
		// filter: grayscale(100%)

	.clear
		max-width: 400px
		clear: both

	h4
		margin-top: 6px
		display: inline


	.p2
		margin-top: -2px
