// .card-home
	background: lightgrey
	img
		opacity: .75

// @for $i from 1 to 6
	.card-home:nth-child(5n + #{$i})
		padding-top: random(6) + 1 + vw
		padding-right: random(4) + 2 + em
		padding-bottom: random(6) + 1 + em
		padding-left: random(4) + 2 + vw

.card-home:nth-child(4n + 1)
	margin-top: 10em
	margin-bottom: 2em
	margin-right: 2vw
	margin-left: 14vw

.card-home:nth-child(4n + 2)
	margin-top: 2em
	margin-bottom: 5em
	margin-right: 2vw
	margin-left: auto

.card-home:nth-child(4n + 3)
	margin-top: 8em
	margin-bottom: 1em
	margin-right: 6vw
	margin-left: 5vw

.card-home:nth-child(4n + 4)
	margin-top: 5em
	margin-bottom: 4em
	margin-right: 10vw
	margin-left: auto

.card-home
	float: left
	display: block
	position: relative
	// &:nth-child(even)
		margin-left: auto
		margin-right: 0

	&:hover
		.card-home-overlay
			opacity: 1
			transition: 0ms
			background: $base-background-color
			border: solid 2px $card-border-color

	img
		position: relative
		max-width: 100%
		height: auto
		display: block

		transition: 250ms ease-in-out

	.card-home-overlay
		display: flex
		position: absolute
		border: solid 2px rgba(0,0,0,0)
		height: auto

		top: 0
		right: 0
		bottom: 0
		left: 0

		margin: 0
		padding: 2.4em
		opacity: 0
		transition: 250ms ease-in-out

	.title-wrap
		flex: 1
		display: flex
		flex-direction: column
		justify-content: space-between

	[class*="word"]:nth-child(even)
		text-align: right
