.card-pers, .card-prof
	position: relative
	@media(min-width: $bp-xl)
		max-width: 800px
		margin: 0 auto

	&:hover
		.card-home-overlay
			opacity: 1
			transition: 0ms
			background: $snow
			border: solid 1px $card-col

	img
		width: 100%
		height: auto
		display: block

		transition: 250ms ease-in-out

	.card-home-overlay
		display: flex
		position: absolute

		top: 0
		right: 0
		bottom: 0
		left: 0

		margin: 0
		padding: 2.4em
		opacity: 0
		transition: 250ms ease-in-out

	.title-wrap
		flex: 1
		display: flex
		flex-direction: column
		justify-content: space-between

	[class*="word"]:nth-child(even)
		text-align: right
