// alternating sides
a:nth-child(2n+1) .card-blog
	flex-direction: row

a:nth-child(2n+2) .card-blog
	flex-direction: row-reverse

.card-blog
	display: flex
	justify-content: space-between
	margin-bottom: 32px

	&:hover
		.card-blog-title
			color: red
			transition: 0ms
		.pic, .pic-full
			// filter: grayscale(100%) sepia(80%) hue-rotate(-44deg) brightness(90%) contrast(115%)
			transition: 0ms

	.pic, .pic-full
		position: relative
		background-repeat: no-repeat
		background-position: center
		background-size: cover
		opacity: .95
		transition: 250ms ease-in-out
		&:after
			content: ""
			display: block

	.pic
		width: calc(50% - 12px)
		// filter: grayscale(100%)
		&:after
			padding-bottom: 100%

	.pic-full
		width: 100%
		&:after
			padding-bottom: 50%

	.card-blog-overlay
		width: calc(50% - 12px)

	.card-blog-title
		height: 100%
		display: flex
		flex-direction: column
		justify-content: space-between
		transition: 250ms ease-in-out

		span:nth-child(2)
			display: flex
			flex-direction: row
			justify-content: space-between
			margin-bottom: -.4ex

	h2, .p2
		margin: 0

	h2
		margin-top: -.6ex
		margin-bottom: 12px

// colour sequence for title overlays
// .col3

		a:nth-child(3n+1) .card-blog-overlay
			background-color: $yella

		a:nth-child(3n+2) .card-blog-overlay
			background-color: pink

		a:nth-child(3n+3) .card-blog-overlay
			background-color: #6b63df
