// CENTRAL COLUMNS

.columns
	margin: 0 auto
	// padding-left: 4em
	display: flex
	flex-wrap: wrap
	justify-content: center
	// background: pink
	// @media(min-width: $bp-large)
		width: 85vw
		max-width: 1400px

	.card-home
		@include home-grid-margins
