// MAIN COLUMNS
.columns

	.content
		width: calc(100% - 16px)
		margin-top: 32px
		padding-top: 56px
		color: $dark

		h2
			padding-bottom: 6px
			text-transform: uppercase
			margin: 0

		p
			width: calc(100% - 16px)

	.column-end
		height: 30vh
		opacity: 0

	.textlink
		padding-bottom: 32px

	@media (max-width: 640px)
		.column-end
			display: none
