// CENTRAL COLUMNS

.columns
	flex: 1
	display: block
	// max-width: 1200px

	@media (min-width: $bp-large)
		display: flex

	// columns

	.col1, .col2, .col3
		width: 100%
		min-width: 150px

	.col1, .col2
		@include mr-home

	.col3
		margin-right: 0

		// card layout

	.card-prof, .card-pers, .card-blog
		@include mb-home

	.content
		width: 100%
		@media (min-width: $bp-large)
			margin-top: 90px

	#sticky1
		position: sticky

	#sticky2
		position: sticky

	#sticky3
		position: sticky

	.col-header
		display: none

		@media (min-width: $bp-large)
			display: block
			position: relative
			left: 50%
			z-index: 2

		h2
			position: fixed
			top: 45px
			transform: translateX(-50%) translateY(-50%)
			margin: 0

	.textlink
		padding-bottom: 32px
