// HEADER PAGE
.header-page
	@include header-base
	@media(min-width: $bp-med)
		margin-top: 90px

	.nav-toggle
		@include nav-toggle-base

	span
		transform: translateY($translate-header-span)
		text-align: center
		margin: 0 auto

	.nav-back-button
		display: none
		@media(min-width: $bp-large)
			display: block
			position: fixed
			left: .8em
			top: 45px
			transform: translateY(-50%)
			&:hover
				text-decoration: line-through

				// arrow extension through text
				.line-thru
					position: absolute
					height: 2px
					right: 0
					transform: translateY(9px)
					width: calc(100% - 18px)
					background: $dark

			a
				display: flex

			img
				width: 22px
				transform: translateY(-2px)
				margin-right: .2em

	.avatar
		display: none
		@media(min-width: $bp-large)
			display: block
			align-self: flex-end
			margin-left: 1em
			img
				width: 100px
				position: fixed
				top: 90px
				right: 1em
