// HEADER HOME
$translate-header-span: .2em

.header-home
	@include header-base
	display: flex
	flex-direction: row
	justify-content: space-between
	@media(min-width: $bp-large)
		position: fixed
		z-index: 5

	.touch-toggle
		@include touch-toggle-base

	.header-nav
		position: relative
		display: flex
		top: 2em
		left: .8em
		h1:after
			content: "EA"
			@media(min-width: $bp-med)
				content: "Elliott Andrew"

	.line-graphic
		height: 2px
		margin: 0 .75em
		transform: translateY(1.6em)
		width: 4em
		background: $base-type-color

	ul
		list-style-type: none
		padding: 0

	li
		margin-bottom: .75em

	.avatar
		@include avatar-base
		&.hide
			display: none
			@media(min-width: $bp-large)
				display: block
