// SIDE TABS

.tab-wrap
  display: none
  @media(min-width: $bp-large)
    display: block

    .tab-left, .tab-right
      position: fixed
      top: 50%
      z-index: 10
      cursor: pointer
      &:hover
        text-decoration: line-through

      &.clicked
        opacity: 0

    .tab-left
      left: 0
      transform: rotate(90deg) translateY(-.55em) translateX(-50%) translateX(-1.5em)
      transform-origin: bottom left

    .tab-right
      right: 0
      transform: rotate(270deg) translateY(-.55em) translateX(50%) translateX(1.5em)
      transform-origin: bottom right

// SIDE MENUS

$side-menu-width: 20em
$side-menu-color: white

.menu1, .menu2
  display: none

@media(min-width: $bp-large)
  .menu1, .menu2
    display: block
    position: fixed
    width: $side-menu-width
    transition: all 250ms cubic-bezier(0.175, 0.885, 0.32, 1.27)
    padding: 1.2em
    top: 50%
    transform: translateY(-50%)
    z-index: 100
    color: $side-menu-color
    box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.1)

    h4
      font-weight: 400 !important
      &:first-child
        text-decoration: underline

    ul
      list-style-type: none
      padding-left: 0

    a
      color: $side-menu-color
      &:hover
        text-decoration: line-through

  .menu1
    height: auto
    left: -23em
    background: $menu-color
    &.clicked
      left: 1em

    li
      margin-top: .8em
      &:first-child
        margin-top: 1.6em

  .menu2
    right: -23em
    background: $menu-color
    &.clicked
      right: 1em

    li
      margin-top: 1.6em
      &:first-child
        margin-top: 0
      &:hover
        cursor: pointer
        a
          text-decoration: line-through

  .close-1, .close-2
    float: right
    width: 24px
    height: 24px
    cursor: pointer
    background: url('/assets/imgs/icons/ic_close_white_36px.svg')
    background-position: center
    background-size: contain
    background-repeat: no-repeat
