html
	min-width: 240px
	padding: 0
	margin:	0

	background: $base-background-color

body
	-webkit-font-smoothing: antialiased

body
	-moz-osx-font-smoothing: grayscale
	padding: 0
	margin: 0

	font-size: 15px
	line-height: 1.6
	font-family: 'Catamaran', sans-serif
	color: $base-type-color

html, body
	&.noscroll
		height: 100%
		position: relative
		overflow: hidden
		@media(min-width: $bp-large)
			height: auto
			overflow: auto
