// BASE

html
	padding: 0
	margin:	0

	background: #f7f7f7

body
	padding: 0
	margin:	0
	overflow: hidden

	font-size: 14px
	line-height: 1.6
	font-family: 'Fira Sans', sans-serif
	color: $dark

// MIN/MAX PAGE SIZE

// HOME PAGE + INNER-WRAP PAGES
.home-wrap, .inner-wrap
	min-width: 320px
	max-width: 1200px

// OUTER-WRAP PAGES
.container-vw
	min-width: 320px
	max-width: 1200px
