//TYPE

h1, h2, h3, h4, h5, h6, p, [class*="word"]
  margin: 0
  padding: 0
  letter-spacing: .05em

h1, h2, h3, [class*="word"]
  font-family: 'Nunito', sans-serif
  font-weight: 700
  line-height: 1.4

h1
  @include ms-respond(font-size,2)

h2, [class*="word"]
  @include ms-respond(font-size,1)

h3
  @include ms-respond(font-size,0)

h4
  font-family: 'Nunito', sans-serif
  @include ms-respond(font-size,1)

h5
  font-family: 'PT Serif', serif
  @include ms-respond(font-size,1)
  font-style: italic

h6
  font-family: 'Nunito Sans', sans-serif
  font-size: ms(-1)
  font-weight: 500
  letter-spacing: .1em

p
  font-family: 'Nunito Sans', sans-serif
  @include ms-respond(font-size,0)
  font-weight: 400
  line-height: 1.6

// CARD TITLE OVERLAY
[class*="word"]
  color: $card-border-color

// MODIFIERS
em
  font-style: italic

strong
  font-weight: bold
