// TYPE

// headings

h1
  margin: 0
  font-family: Catamaran, sans-serif
  font-size: 22px
  font-style: normal
  font-weight: 700

h2
  font-family: Catamaran, sans-serif
  font-size: 18px
  font-style: normal
  font-weight: 700

h3
  margin: 0
  font-family: Fira Mono, monospace
  font-size: 12px
  line-height: 1.1
  text-decoration: underline
  text-transform: uppercase
  font-weight: 400

h4
  margin: 0
  font-family: Fira Mono, monospace
  font-size: 12px
  line-height: 1.1
  text-decoration: underline
  font-weight: 400

// project card

.t1
  color: $dark
  font-family: Catamaran, sans-serif
  font-size: 30px
  font-style: normal
  font-weight: 700

.t2
  color: $dark
  font-family: Catamaran, sans-serif
  font-size: 14px
  font-style: normal
  font-weight: 500

// paragraph styles

.p1
  // margin-left: 1px
  font-family: Fira Mono, monospace
  font-size: 12px
  line-height: 1.1
  font-weight: 400

.p2
  font-family: Fira Mono, monospace
  font-size: 12px
  line-height: 1.4
  font-weight: 400

p
  font-family: Fira Mono, monospace
  font-size: 12px
  line-height: 1.4
  font-weight: 400

.projects, .blog

  h5
    font-family: Merriweather, serif
    font-size: 22px
    line-height: 1.8
    font-weight: 700

  h6
    font-family: Merriweather, serif
    font-size: 14px
    line-height: 1.8
    font-weight: 300

// modifiers

em
  font-style: italic

strong
  font-weight: bold

.mono
  font-family: Fira Mono, monospace
