.blog

  // TYPE

  p
    position: relative
    margin: 0 0 12px 0

    font-family: merriweather, serif
    font-size: 14px
    font-weight: 300

    strong
      font-weight: 700
      font-size: 20px
      line-height: 1

  // CONTENT

  .bpage-content

    .bpage-text
      width: 80%
      margin: 24px auto 24px auto

      h6:first-of-type:first-letter
        font-size: 72px
        float: left
        padding: 11px 6px 0 2px
        line-height: 44px

      // Smaller drop cap

      // h6:first-of-type:first-letter
        font-size: 44px
        float: left
        padding: 11px 6px 0 2px
        line-height: 24px

      // centered location | date

      .center
        text-align: center
        margin-top: 4px
