// BLOG

// PAGE SIZE AND MEDIA QUERIES

.bpage-wrap
	display: block
	width: 80vw
	margin: 0 auto

//.bpage-sections
	flex: 1

@media (max-width: 1024px)
	.bpage-wrap
		width: 85vw

@media (max-width: 768px)
	.bpage-wrap
		width: 90vw

@media (max-width: 640px)
	.bpage-sections,
	.container
		display: block

	bpage-sections.col1
		max-width: 100%
		margin-right: 0

// CONTAINER

//.container
	position: relative
	backface-visibility: hidden
	will-change: overflow
	//background: pink
	height: calc(100vh - 56px)
	// where does z-index go?

bpage-sections
	.col1
		position: relative
		overflow-y: auto
		overflow-x: hidden

// CONTENT

.bpage-sections
	.col1
		.content
			margin-left: 0
			margin-right: auto

	img
		opacity: 1
		max-width: 100%
		margin-bottom: 12px

	p
		margin-top: 6px
