// HOME

.home-wrap
	display: block
	width: 80vw
	margin: 0 auto

.home-sections
	flex: 1

@media (max-width: 1024px)
	.home-wrap
		width: 85vw

@media (max-width: 768px)
	.home-wrap
		width: 90vw

//scroll test

.container
	display: flex
	position: relative
	backface-visibility: hidden
	will-change: overflow
	height: calc(100vh - 56px)
	// where does z-index go?


// columns

.col1
	position: relative
	flex: 1
	margin-right: 17px
	overflow-y: auto
	overflow-x: hidden

	&:last-child
		margin-right: 0

@media (max-width: 640px)
	.home-sections,
	.container
		display: block

	.col1
		max-width: 100%
		margin-right: 0
