// IN THE FIELD

.bpage-wrap
	width: 80vw
	margin: 0 auto

// CONTENT

.layout-inthefield

	hr
		padding: 0
		opacity: 0.4
		clear: left

		&:last-of-type
			visibility: hidden
			margin: 0
			padding: 0

.fcard
	margin: 24px 0 18px 0
	// height: 250px

	.fcard-blurb
		height: 220px
		overflow: hidden

	h2, img
		transition: all 250ms ease-in-out

	img
		float: left
		max-width: 50%
		margin: 0 18px 12px 0

	h2
		margin-top: -5px

	h4
		font-size: 11px

	a:hover
		h2
			color: $citrus
			transition: all 1ms

		img
			opacity: 0.8
			transition: all 1ms
