// IN THE FIELD

// CONTENT

.layout-inthefield

	img
		max-height: 40vh
		margin-bottom: 6px

	hr
		padding: 0
		opacity: 0.4

		&:last-of-type
			visibility: hidden
			margin: 0
			padding: 0

.fcard
	margin: 24px 0 18px 0

	h2, img
		transition: all 250ms ease-in-out

	h4
		font-size: 11px

	a:hover
		h2
			color: $citrus
			transition: all 1ms

		img
			opacity: 0.8
			transition: all 1ms
