// PHOTOGRAPHY

// PAGE SIZE AND MEDIA QUERIES

.bpage-wrap2

	.bpage-header
		margin-top: -12px

	.container2
		display: block
		width: 80vw
		margin: 12px auto 0 auto
		padding-left: 10px

	.content
		margin-top: 12px
		width: 100%

	.jspVerticalBar
		// margin: 24px 6px 24px 0
		// height: calc(100vh - 48px)
		margin: 3px 3px 0 0
		width: 6px

	.jspDrag
		width: 6px

//.bpage-sections
	flex: 1

// @media (max-width: 1024px)
// 	.bpage-wrap
// 		.content
// 			width: 85vw
//
// @media (max-width: 768px)
// 	.bpage-wrap
// 		.content
// 			width: 90vw
//
// @media (max-width: 640px)
// 	.bpage-sections,
// 	.container
// 		display: block
//
// 	bpage-sections.col1
// 		max-width: 100%
// 		margin-right: 0

// CONTENT

.bpage-scroll
	height: 100vh

	img
		opacity: 1
		max-width: 100%
		margin-bottom: 12px

	p
		margin-top: 6px

.photography
	height: 100vh

	.textlink
		margin-bottom: 30px

	.comingsoon
		position: relative
		display: block
		text-align: center
		margin-top: 25vh
		*
			color: $dark
