// PHOTOGRAPHY

// CONTENT

.photography
	height: 100vh

	.textlink
		margin-bottom: 30px

	.comingsoon
		position: relative
		display: block
		text-align: center
		margin-top: 25vh
		*
			color: $dark
