.projects

  // IMAGES
  img
    position: relative
    max-width: 100%

  .span-svg
    display: flex
    position: relative
    justify-content: space-between
    padding: 0 36px
    margin: 36px 0

  .svg
    display: block
    position: relative
    width: 60px
    height: 60px
    opacity: 0.85

  .projectimg-50
    float: left
    margin: 0 18px 48px 0
    max-width: 50%

  // TYPE
  p
    position: relative
    margin-top: 0

    font-family: Fira Sans, sans-serif
    font-size: 15px
    // text-align: justify
    // text-justify: inter-word

    strong
      font-weight: 700
      font-size: 22px
      line-height: 1

  //OTHER
  mark
    background: $silver
